@import "tailwindcss";
@plugin "daisyui";
@tailwind base;
@tailwind components;
@tailwind utilities;

html.dark .modal::backdrop,
html[data-theme='dark'] .modal::backdrop,
.modal::backdrop {
  display: none !important;
}

html.dark .modal-box,
html[data-theme='dark'] .modal-box,
.modal-box {
  background-color: #ffffff !important;
  color: #1f2937 !important;
}

.shadow-all {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fade-in {
  animation: fadeIn 0.3s ease-in-out;
}
.body{
  overflow-y: hidden;
  scrollbar-width: thin;
}

